div#prev, div#next{
    color: white;
}
div#prev:hover, div#next:hover{
    color: indianred;
    cursor: pointer;
}
div#prev{ padding: 10px }
div#next{ padding: 10px }

div.dropbtn {
    background-color: #1c1c1c;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    color: white;
    padding: 5px 0;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.content-list {
    display: none;
    position: absolute;
    background-color: #1c1c1c;
    width: 200px;
    cursor: pointer;
    margin: 0; 
    padding: 0;
    right: 10px;
    border: 1px solid #eee;
}

/* Links inside the dropdown */
.content-list li {
    position: relative;
    text-align: center;
    width: 100px;
    color: white;
    padding: 5px 0;
    margin: 0;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    text-decoration: none;
    float: left;
    cursor: pointer;
    display: inline-block;
}

.dropdown-content.visible::before{
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 22px;
    right: 50px;
    border-width: 7px;
    border-color: transparent transparent #eee transparent;
    border-style: solid;
}

.content-list li:nth-child(odd) {
    border-right: 2px solid black;
}

/* Change color of dropdown links on hover */
.content-list li:hover {
    background-color: indianred;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
div.dropbtn:hover .content-list {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
    color: indianred;
}

.content-list li.dropdown_legend {
    width: 200px;
    font-size: 0.75em;
    pointer-events: none;
    background: #141414;
    border-right: none;
    border-bottom: none;
}

.transform-scale {
    transform: scale(1.2);
}
